/* 

Gridset CSS

Developed by Mark Boulton Design
Web site: http://markboultondesign.com
Twitter: http://twitter.com/markboultondsg
Author: Nathan Ford

General transitions & animations */

#appheader a:hover, a, .lock, .other, .gridpreviewwidth p {
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	-ms-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}

.gridmeta, .colbar {
	-webkit-transition: -moz-transform 1s ease-in-out;
	-moz-transition: transform 1s ease-in-out;
	-o-transition: transform 1s ease-in-out;
	-ms-transition: transform 1s ease-in-out;
	transition: -moz-transform 1s ease-in-out;
}

.preview > div, .nestedgroup {
	-webkit-transition: background-color 0.3s ease-out;
	-moz-transition: background-color 0.3s ease-out;
	-o-transition: background-color 0.3s ease-out;
	-ms-transition: background-color 0.3s ease-out;
	transition: background-color 0.3s ease-out;
}

@-moz-keyframes alerting {
	0%, 70% {
		top: -10px;
		opacity: 0;
	}
	100% {
		top: 0;
		opacity: 1;
	}
}
@-webkit-keyframes alerting {
	0%, 70% {
		top: -10px;
		opacity: 0;
	}
	100% {
		top: 0;
		opacity: 1;
	}
}

.alert strong, .coltoolbar > div {
	position: relative;
	-moz-animation-name: alerting;
	-moz-animation-duration: 0.8s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease-out;
	-webkit-animation-name: alerting;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-out;
}

@-moz-keyframes toolbarup {
	0% {
		top: 0;
	}
	100% {
		top: -100%;
	}
}

@-webkit-keyframes toolbarup {
	0% {
		top: 0;
	}
	100% {
		top: -100%;
	}
}

@-moz-keyframes toolbardown {
	0% {
		top: -100%;
	}
	100% {
		top: 0;
	}
}

@-webkit-keyframes toolbardown {
	0% {
		top: -100%;
	}
	100% {
		top: 0;
	}
}

.coltoolbar > div, .gridtoolbar > div {
	-moz-animation-name: toolbarup;
	-moz-animation-duration: 0.2s;
	-moz-animation-timing-function: ease-in;
	-webkit-animation-name: toolbarup;
	-webkit-animation-duration: 0.2s;
	-webkit-animation-timing-function: ease-in;
}

.gridtoolbar > div {
	-moz-animation-name: toolbardown;
	-webkit-animation-name: toolbardown;
}

@-moz-keyframes updating {
	0%, 30% {
		background-color: rgba(255,236,0, 0.2);
	}
	100% {
		background-color: rgba(255,255,255,1);
	}
}

@-webkit-keyframes updating {
	0%, 30% {
		background-color: rgba(255,236,0, 0.2);
	}
	100% {
		background-color: rgba(255,255,255,1);
	}
}

.update {
	-moz-animation-name: updating;
	-moz-animation-duration: 0.7s;
	-moz-animation-timing-function: ease-out;
	-webkit-animation-name: updating;
	-webkit-animation-duration: 0.7s;
	-webkit-animation-timing-function: ease-out;
}
