/* 

Gridset Print CSS

Developed by Mark Boulton Design
Web site: http://markboultondesign.com
Twitter: http://twitter.com/markboultondsg
Author: Nathan Ford

Print styles */

body {
	background: #fff !important;
}

* {
	color: #000 !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

#logo {
	text-align: left;
	margin: 0 auto;
	position: relative;
	padding: 10px 0 20px;
	border-bottom: 1px solid #ccc !important;
	font-size: 18px;
	font-weight: 400;
}

#logo em {
	float: right;
}

.cheatgrid, #logo {
	max-width: 900px !important;
}

.cheatgrid {
	border: none !important;
	margin-top: 10px !important;
	margin-top: 1rem !important;
}

.gridoverlay, .gridoverlay * {
	border-color: #ccc !important;
	color: #ccc !important;
}

.wrapper {
	overflow: hidden;
}

.cheatwrap {
	border-bottom: 1px solid #ccc;
}

.row {
	page-break-inside: avoid !important;
}

.row, .nestedgroup {
	background: none !important;
}

.row {
	border-top: none;
	border-bottom: none;
	margin-bottom: 0;
}

.row:last-child {
	margin-bottom: 0;
}

.nestedelements .row:last-child {
	border-bottom: 1px solid #ccc;
}

.nestedgroup .cheatgutter {
	margin-top: -5px;
	background: #fff;
}

.nestedgroup.open .nestedelements {
	border-bottom: 15px solid #fff !important;
}

.cheatgutter + .row {
	border-top: 1px solid #ccc !important;
}

.box, pre {
	background: #fff !important;
	border-color: #000 !important;
}

.box {
	border-top: 1px solid #000 !important;
	border-bottom: 1px solid #000 !important;
	margin-bottom: 0 !important;
	margin-top: -1px !important;
	page-break-inside: avoid !important;
}

.box pre {
	padding: 4px !important;
	page-break-inside: avoid !important;
}

.nestactions {
	display: none !important;
}